{% extends "base.html" %}
{%block content%}

{% load crispy_forms_tags %}


<div class="container mt-4">
    <div class="row">

{%include 'dashboard/sidebar.html'%}
        <div class="col-md-8">
            <div class="row">

                <h3 class="text-center">ADD NEW USER</h3>
                <form action = "{%url 'add_user'%}" method ="POST" enctype="multipart/form-data" >
                    {%csrf_token%}
                    {{form|crispy }}
                    <button type='submit' class="btn btn-primary">submit</button>
                </form>

            </div>
        </div>
    </div>
</div>

{%endblock%}